.container {
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
}

.container div {
    border-style: solid;
    border-width: 1px;;
    width: 15px;
    height: 15px;
    padding: 5px;
}

.hovered {
   background-color: black; 
}